
@page "{id?}"
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<br /><br />
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Фикс/Почас оплата</th>
                <th>Кол-во отр.дней</th>
                <th>Кол-во отр.часов</th>
                <th>Ставка(за день или час)</th>
                <th>Рассчёт за месяц</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emploee in Model.Emploees)
    {
        <tr>
            <td>@emploee.ID</td>
            <td>@emploee.F_NAME</td>
            <td>@emploee.L_NAME</td>
            <td><input type="checkbox" checked="@emploee.FIX_PAYMENT"></td>
            <td>@emploee.COUNT_DAYS</td>
            <td>@emploee.COUNT_HOUR</td>
            <td>@emploee.RATE</td>
            <td>
                <a id="@emploee.ID" class="btn btn-primary btn-sm calculate">Рассчитать</a>
            </td>
        </tr>
}
        <tr style="visibility: @ViewData["hidden"]">
                    <td></td>
                    <td><input type="text" name="firstname" placeholder=" Введите Имя" value="@ViewData["firstname"]" /></td>
                    <td><input type="text" name="lastname" placeholder=" Введите Фамилию" value="@ViewData["lastname"]" /></td>
                    <td><input type="checkbox" name="fixpayment" checked="@ViewData["fixpayment"]"  id="inputcheckbox"></td>
                    <td><input type="number" name="days" placeholder=" Введите кол. дней" value="@ViewData["days"]" id="inputdays" /></td>
                    <td><input type="number" name="hours" placeholder=" Введите кол. часов" value="@ViewData["hours"]" id="inputhours" style="visibility: hidden"/></td>
                    <td><input type="number" name="rate" placeholder=" Введите ставку за день" value="@ViewData["rate"]" id="inputrate" /></td>
                    <td><button type="submit" class="btn btn-success btn-sm" id="addemploee">Добавить</button></td>
                </tr>
        </tbody>
    </table>
    <a id="addemploeeButton" class="btn btn-success btn-sm" style="visibility:@ViewData["visibility"]">Добавить сотрудника</a>
</form>
<div>
    <h4 class="text-danger error">@ViewData["Message"]</h4>
    <h3 class="text-info emploee" />
    <h4 class="text-info salary" style="font-weight: bold" />
</div>
